.register_page {
  .register_page_main {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f4f7f7;
    margin-top: 80px;
    margin-bottom: 50px;
    border-radius: 5px;
    padding-bottom: 30px;
  }
}
